.chat {
    font-family: var(--font-chat);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    --color-chat-match: var(--color-warnning);
    --color-chat-team: var(--color-info);
    --color-chat-group: var(--color-success);
}

.chat-match {
    color: var(--color-chat-match);
}
.chat-team {
    color: var(--color-chat-team);
}
.chat-group {
    color: var(--color-chat-group);
}

.chatbox,
.chatinput {
    background-color: var(--color-chat-background);
    /* padding: 10px; */
    max-width: 100vw;
    width: 480px;
    --border-radius: 4px;
    border-radius: var(--border-radius);
}

.chatbox {
    overflow: scroll;
    height: 290px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: end;
    align-items: stretch; */
    align-content: end;

    padding: 5px 0;
}
.chatmessage {
    display: flex;
    justify-content: baseline;
    gap: 10px;
    padding: 2px 15px;
    text-wrap: wrap;
    text-align: start;
    text-indent: -83px hanging;
}
.chatinput {
    height: 40px;

    display: flex;
    /* justify-content: space-between; */
}
.chatinput .left {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chatinput .vertical-stripe {
    height: 100%;
    width: 4px;
    background-color: var(--color-warnning);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.chatinput .locale-badge-space {
    font-size: 1.1em;
    font-weight: 500;

    display: flex;
    align-items: center;
    margin-right: 20px;
}
.chatinputfield {
    width: 100%;
    border: none;
    outline: none;
    color: var(--color-foreground);
}

.chatinputfield::placeholder {
    font-weight: 700;
    /* letter-spacing: -0.7px; */
    color: var(--color-chat-placeholder);
}

.locale-badge {
    /* height: fit-content; */
    border: 2px solid var(--color-light-gray);
    border-radius: 4px;
    padding: 0px 7px;
}
