.editor {
    width: 600px;

    background-color: var(--color-navy-light);
    color: var(--color-foreground);
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.editor > div {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.editor > div:last-child {
    height: 100%;
}

.editor-toolbar {
    display: flex;
    justify-content: start;
    gap: 10px;
}
.editor-toolbar > div {
    display: flex;
    gap: 5px;
}

.editor-body {
    border: 2px solid #525764;
    background-color: var(--color-navy-dark);
    border-radius: 4px;

    padding: 5px 10px;

    resize: none;

    /* max-height: 300px; */
    min-height: 200px;
    flex: 1;
}
.editor-body:hover {
    border-color: #8e8f94;
}
.editor-body:focus {
    outline: none;
    border-color: #d8d8d9;
}

.popover:popover-open {
    position: grid;
    top: 0;
    right: 0;
}
