.input-wrapper {
    height: 40px;
    text-align: start;
}

.input-wrapper-full {
    width: 300px;
}
.input-full {
    width: 100%;
}
.input-min {
    width: fit-content;
}

.input {
    background-color: var(--input-background);
    color: var(--input-foreground);
    border: 3px solid var(--input-border);
    border-radius: 3px;

    font-family: var(--font-chat);
    font-size: 20px;
    font-weight: 600;
    text-wrap: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;

    /* padding: 5px 15px; */
    padding: 5px;

    transition: 0.1s transform ease;
    will-change: transform;

    height: 100%;
    min-width: 40px;
}

.input.pressed,
.input:active {
    filter: brightness(0.8);
}

.input-icon {
    line-height: 30px;
    font-size: inherit;
}
.input-icon {
    transition: transform 0.2s ease;
    transform-origin: center center;
}

.input-normal {
    --input-hover-border: var(--color-light-blue);
    --input-border: transparent;
    --input-background: var(--color-foreground);
    --input-foreground: var(--color-background);
}
.input-highlight {
    --input-hover-border: var(--color-light-blue);
    --input-border: transparent;
    --input-background: var(--color-primary);
    --input-foreground: var(--color-foreground);
}
.input-outline {
    --input-hover-border: #9e9e9e;
    --input-border: var(--color-light-gray);
    --input-background: transparent;
    --input-foreground: inherit;
    border-width: 2px;
    color: var(--input-foreground);
}
/* .input-ghost {
} */

.input:not(:disabled):hover {
    transform: scale(110%);
    z-index: 1;
    border-color: var(--input-hover-border);
}

.input:disabled {
    filter: brightness(0.8);
}
