.popover-wrapper {
    position: relative;
}
.popover:popover-open {
    /* Removes default browser styling for popovers */
    inset: unset !important;

    position: absolute;
    z-index: 3;

    background-color: transparent;
}
