#root {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.page {
    padding: 0 5px;
    width: 100%;

    overflow: hidden;
}

h1 {
    font-family: var(--font-headline-italic);
    font-size: 70px;
    margin: 0;
}
h2 {
    font-family: var(--font-headline);
    font-size: 40px;
    color: var(--color-primary);
    margin: 0;
}
