.color-picker {
    background-color: var(--color-foreground);
    color: var(--color-background);
    padding: 5px 10px;
    border-radius: 3px;
}

.color-picker-footer {
    display: flex;
    justify-content: end;
    gap: 7px;
}
