#root {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: start;

    user-select: none;
}
#root::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: '';
    /* position: absolute; */
    inset: 0;

    background-image: url('/background.png');
    background-size: cover;
    background-position: center;

    filter: blur(5px);
    z-index: -1;
}

.page {
    padding: 0 10px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    font-family: var(--font-headline-italic);
    font-size: 70px;
}
h2 {
    font-family: var(--font-headline);
    font-size: 40px;
    color: var(--color-primary);
}
h3 {
    font-weight: 600;
    font-family: var(--font-text);
    font-size: 20px;
}
h4 {
    font-weight: 600;
    font-size: 16px;
}
