.glyph-picker {
    background-color: var(--color-foreground);
    border: 1px solid var(--color-light-gray);
    color: var(--color-background);
    padding: 10px 15px;
    border-radius: 3px;

    width: fit-content;

    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: -48px;
}

.glyph-filters {
    text-transform: uppercase;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 10px;
}
.glyph-select {
    display: flex;
    flex-direction: column;
}

.glyph-tabs {
    display: flex;
    gap: 1px;
    margin-top: 5px;
    min-width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}
.glyph-tab-checkbox {
    display: none;
}
.glyph-tab {
    background-color: var(--color-navy-light);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    flex-shrink: 0;

    padding: 5px;
    font-size: 1.4em;

    transform: translateY(5px);
    z-index: 0;

    transition: 0.05s background-color ease-out, 0.05s transform ease-out;
}

.glyph-tab:hover,
.glyph-tab-checkbox:checked + .glyph-tab {
    background-color: var(--color-navy);
    transform: translateY(2px);
    scrollbar-base-color: transparent;
}

.glyph-category-display {
    background-color: var(--color-navy-light);
    color: var(--color-foreground);
    padding: 5px 0px 0px 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    z-index: 2;
    position: relative;

    /* border-top-left-radius: 5px; */
    border-top-right-radius: 5px;
}

.glyph-tray {
    background-color: var(--color-navy-light);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 10px solid var(--color-navy-light);
    border-top: 0;

    max-height: 300px;
    /* min-height: 300px; */
    overflow-y: auto;
    width: 100%;

    font-size: 1.3em;
    /* border: 4px solid var(--color-navy); */
}
.glyph-tile {
    display: inline;

    height: 2em;
    min-width: 2em;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.glyph-tile img {
    filter: drop-shadow(1px 1px 1px black);
}
.glyph-tile:hover {
    transform: scale(110%);
}

@media (max-width: 600px) {
    .glyph-filters {
        flex-direction: column;
    }
}

.empty-glyph-list-label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    /* color: var(--color-light-gray); */
    color: var(--color-foreground);
}
