.glyph-picker {
    background-color: var(--color-foreground);
    border: 1px solid var(--color-light-gray);
    color: var(--color-background);
    padding: 10px 15px;
    border-radius: 3px;
}

.glyph-filters {
    text-transform: uppercase;
    font-weight: 600;

    width: 490px;

    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 630px) {
    .glyph-filters {
        flex-direction: column;
        align-items: start;
        width: fit-content;
    }
}
