@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

/* Source: https://font.download/font/bignoodle-titling */
@font-face {
    font-family: 'BigNoodleTitling';
    src: url('/assets/big_noodle_titling.ttf');
}
/* Source: https://font.download/font/bignoodle-titling */
@font-face {
    font-family: 'BigNoodleTitling Oblique';
    src: url('/assets/big_noodle_titling_oblique.ttf');
}

/* Source:  https://fonts.google.com/specimen/League+Spartan */
@font-face {
    font-family: 'League Spartan';
    src: url('/assets/league_spartan.ttf');
}

:root {
    --font-headline: 'BigNoodleTitling';
    --font-headline-italic: 'BigNoodleTitling Oblique';
    --font-links: 'League Spartan';
    --font-chat: Helvetica, 'Arial', 'Neue Haas Grotesk', Univers,
        'Akzidenz Grotesk';

    --color-primary: #ef6213;
    --color-foreground: #fbfbfc;
    --color-background: #131414;

    --color-info: #0a65ee;
    --color-error: #df4069;
    --color-accent: #bf41e6;
    --color-success: #00ba00;
    --color-warnning: #ff9843;
    --color-light-blue: #2cedee;
    --color-navy: #1d253a;
    --color-gray: #333d47;
    --color-light-gray: #7c7e80;
    --color-chat-placeholder: #7d7e81;
    --color-chat-background: #373848;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    background-color: var(--color-background) !important;
    color: var(--color-foreground);
}

body {
    margin: 0;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
