.titlebar {
    padding: 10px 0;
    -webkit-text-stroke: 0.6px rgba(0, 0, 0, 0.5);
}
.page-header {
    margin: 0;
    line-height: 1em;
}
.page-subheader {
    margin: -0.2em 0 0 0;
    line-height: 1em;
    text-wrap: nowrap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}
.links-wrapper {
    font-family: var(--font-headlines);
    font-size: 25px;
    font-weight: 600;

    display: block;
}
.links {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 20px;
}
.links li {
    text-decoration: none;
    transition: transform 0.05s ease;
}
.links li:hover {
    transform-origin: 50%, 80%;
    transform: scale(110%);
}

.hamburger-button {
    color: inherit;
    font-size: 40px;
    display: none;

    font-family: var(--font-links);

    transition: color 0.1s ease-in;
}
.hamburger-button:hover {
}
.hamburger-button:active {
    filter: brightness(0.8);
}

@media (max-width: 575px) {
    .hamburger-button {
        display: block;
    }
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .mobile-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .links-wrapper {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .links-wrapper.hidden {
        display: none;
    }
    .links {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: fit-content;
    }
}
