/* .sketch-picker {
    background-color: var(--color-navy-dark) !important;
    width: 400px !important;
    padding: 20px !important;
}

.sketch-picker label {
    color: var(--color-foreground) !important;
}

.flexbox-fix {
    border-top-color: rgba(0, 0, 0.8) !important;
}
 */
